<link rel="import" href="../../polymer/polymer-element.html" />

<link rel="import" href="../../polymer/lib/utils/debounce.html" />
<link rel="import" href="../../polymer/lib/utils/templatize.html" />

<link rel="import" href="pool.html" />


<script>
/**
 * Helper mixin to manage the render
 * 
 * @polymer
 * @mixinFunction
 */
const PoolRenderMixin = Base => class extends Base {
	constructor() {
		super()

		this.__resetPreviousSelectedIndex()
		this.__previousPoolSize = 0

		this.__pool = new Pool()
	}


	__resetPreviousSelectedIndex() {
		this.__previousSelectedIndex = Number.NaN
	}


	/**
	 * Determines the pool size for a given list
	 * 
	 * @param {Array}
	 * @return {Number}
	 */
	__getPoolSizeForArray(items) {
		const DEFAULT_POOL_SIZE = 5
		const poolSize = Math.min(items.length, DEFAULT_POOL_SIZE)
		return poolSize
	}


	/**
	 * Deletes pool if the size of the new `items` is not the same
	 * 
	 * @param {Array}
	 */
	__deletePoolIfNeeded(items) {
		const poolSize = this.__getPoolSizeForArray(items)

		if (this.__previousPoolSize !== poolSize) {
			this.elementList = this.__deletePool(this.elementList)
		}

		this.__previousPoolSize = poolSize
	}


	get slotElement() {
		throw this.lastError = new PoolRenderMixin.NotImplementedError('slotElement must be overwritten')
	}

	get insertElement() {
		throw this.lastError = new PoolRenderMixin.NotImplementedError('insertElement must be overwritten')
	}


	/**
	 * Create the pool for the current `items` list
	 * 
	 * @param {CircularArray.CircularArray}
	 * @param {Array}
	 * @return {CircularArray.CircularArray}
	 */
	__createPool(elementList, items) {
		const templateElement = this.slotElement.assignedNodes().find(node => node.tagName === 'TEMPLATE')
		if (typeof templateElement === 'undefined') {
			throw this.lastError = new PoolRenderMixin.NoTemplateFoundError('need a template in his light DOM to work')
		}

		const templateContent = Polymer.TemplateStamp(Object)._contentForTemplate(templateElement)
		const firstElementInTemplate = templateContent.querySelector('*')
		if (firstElementInTemplate === null) {
			throw this.lastError = new PoolRenderMixin.NoElementFoundInTemplateError('need an HTMLElement in the given template to work')
		}

		const poolSize = this.__getPoolSizeForArray(items)
		return this.__pool.createPool(elementList, templateElement, this.insertElement, poolSize)
	}


	/**
	 * Deletes the pool
	 * 
	 * @param {CircularArray.CircularArray}
	 * @return {CircularArray.CircularArray}
	 */
	__deletePool(elementList) {
		return this.__pool.deletePool(elementList, this.insertElement)
	}


	/**
	 * Returns the first element of a `templatizedElement`
	 * 
	 * @param {TemplatizedElement}
	 * @return {HTMLElement}
	 */
	__getFirstElement(templatizedElement) {
		return templatizedElement.children.find(node => node.nodeType === Node.ELEMENT_NODE)
	}


	__getMiddleIndex(length) {
		const middleIndex = (length - 1) / 2
		return middleIndex
	}


	/**
	 * Sets classes on elements to let the CSS do the magic to focus the good element
	 * 
	 * @param {CircularArray.CircularArray}
	 */
	__setClass(pool) {
		const setClass = (minSize, template, className) => {
			if (pool.length >= minSize) {
				this.__getFirstElement(template).className = className
			}
		}
		const middleIndex = this.__getMiddleIndex(pool.length)
		setClass(5, pool.firstItem, 'first')
		setClass(3, pool.getItem(middleIndex - 1), 'previous')
		setClass(1, pool.getItem(middleIndex), 'selected')
		setClass(2, pool.getItem(middleIndex + 1), 'next')
		setClass(4, pool.lastItem, 'last')
	}


	/**
	 * Sets accessibility attributes
	 * 
	 * @param {Array<HTMLElement>}
	 */
	__setA11y(elementList) {
		for (const element of elementList) {
			const hidden = element.className !== 'selected'
			element.setAttribute('aria-hidden', hidden.toString())
		}
	}


	/**
	 * Stamps all elements with item from `items`
	 * 
	 * @param {CircularArray.CircularArray}
	 * @param {CircularArray.CircularArray}
	 * @param {String}
	 * @param {String}
	 */
	__redrawAll(items, pool, as, indexAs) {
		const templatizedList = [...pool]
		const middleSize = this.__getMiddleIndex(pool.length)

		const beginList = templatizedList.slice(0, Math.floor(middleSize))
		for (const [templateIndex, templatizedElement] of beginList.entries()) {
			templatizedElement[indexAs] = items.indexToVirtualIndex(templateIndex - middleSize)
			templatizedElement[as] = items.getItem(templateIndex - middleSize)
		}

		const endList = templatizedList.slice(-Math.ceil(middleSize + 1))
		for (const [templateIndex, templatizedElement] of endList.entries()) {
			templatizedElement[indexAs] = items.indexToVirtualIndex(templateIndex)
			templatizedElement[as] = items.getItem(templateIndex)
		}
	}


	/**
	 * Renders `items` at the `selectedIndex`
	 * 
	 * @param {Array}
	 * @param {Number}
	 * @param {String}
	 * @param {String}
	 * @return {HTMLElement}
	 */
	__render(items=[], selectedIndex=0, as='item', indexAs='index') {
		if (this.__renderDebouncer) {
			this.__renderDebouncer.cancel()
		}

		if (items.length === 0) {
			this.elementList = this.__deletePool(this.elementList)
			return this.insertElement
		}

		if (this.__pool.isCreated(this.elementList) === false) {
			this.elementList = this.__createPool(this.elementList, items)
		}


		items = CircularArray.CircularArray.fromArray(items)
		items.firstIndex = selectedIndex


		let move

		if (Number.isNaN(this.__previousSelectedIndex) === false) {
			if (selectedIndex === 0 && this.__previousSelectedIndex === items.length - 1) {
				move = 1
			}
			else if (selectedIndex === items.length - 1 && this.__previousSelectedIndex === 0) {
				move = -1
			}
			else {
				move = selectedIndex - this.__previousSelectedIndex
			}
		}

		const poolSize = this.elementList.length
		if (move === 1) {
			this.elementList.selectNext()

			const templatizedElement = this.elementList.lastItem
			const templateIndex = this.__getMiddleIndex(poolSize)
			templatizedElement[indexAs] = items.indexToVirtualIndex(templateIndex)
			templatizedElement[as] = items.getItem(templateIndex)
		}
		else if (move === -1) {
			this.elementList.selectPrevious()

			const templatizedElement = this.elementList.firstItem
			const templateIndex = -this.__getMiddleIndex(poolSize)
			templatizedElement[indexAs] = items.indexToVirtualIndex(templateIndex)
			templatizedElement[as] = items.getItem(templateIndex)
		}
		else {
			this.__redrawAll(items, this.elementList, as, indexAs)
		}


		this.__setClass(this.elementList)

		const elementList = this.elementList.map(this.__getFirstElement)
		this.__setA11y(elementList)


		this.__previousSelectedIndex = items.firstIndex

		return this.insertElement
	}


	/**
	 * Debounces the render at the next frame
	 * 
	 * @param {Array}
	 * @param {Number}
	 * @param {String}
	 * @param {String}
	 */
	async __renderDebounced(...arg) {
		this.__renderDebouncer = Polymer.Debouncer.debounce(
			this.__renderDebouncer,
			Polymer.Async.animationFrame,
			() => this.__render(...arg)
		)
	}
}

PoolRenderMixin.Error = class PoolRenderMixinError extends Error {}
PoolRenderMixin.NotImplementedError = class NotImplementedError extends PoolRenderMixin.Error {}
PoolRenderMixin.NoTemplateFoundError = class NoTemplateFoundError extends PoolRenderMixin.Error {}
PoolRenderMixin.NoElementFoundInTemplateError = class NoElementFoundInTemplateError extends PoolRenderMixin.Error {}
</script>
