<link rel="import" href="../../polymer/polymer-element.html" />

<link rel="import" href="../../polymer/lib/utils/templatize.html" />

<link rel="import" href="circular-array.html" />


<script>
/**
 * Helper mixin to manage creation and deletion of the pool
 * 
 * @polymer
 * @mixinFunction
 */
const PoolMixin = Base => class extends Base {
	__getTemplateClass(templateElement) {
		let TemplateClass = PoolMixin.__templateMap.get(templateElement)

		if (typeof TemplateClass === 'undefined') {
			TemplateClass = Polymer.Templatize.templatize(templateElement, this)
			PoolMixin.__templateMap.set(templateElement, TemplateClass)
		}

		return TemplateClass
	}


	/**
	 * Returns true if the element list is created and not empty
	 * 
	 * @param {CircularArray.CircularArray} element list
	 * @return {Boolean}
	 */
	isCreated(elementList) {
		return elementList instanceof CircularArray.CircularArray
		    && elementList.length > 0
	}


	/**
	 * Creates pool and insert stamped elements
	 * 
	 * 1. Stamps the `templateElement` (retrieve the class if alreay stamped)
	 * 2. Creates a new pool (if needed) of size `poolLength`
	 * 3. Inserts new stamped element in `insertElement`
	 * 
	 * @param {CircularArray.CircularArray} element list
	 * @param {HTMLTemplateElement} template element
	 * @param {HTMLElement} insert element
	 * @param {Number} pool length
	 * @return {CircularArray.CircularArray} new or same element list
	 */
	createPool(elementList, templateElement, insertElement, poolLength) {
		if (this.isCreated(elementList) === false) {
			const TemplateClass = this.__getTemplateClass(templateElement)

			elementList = new CircularArray.CircularArray(poolLength)

			for (const index of elementList.keys()) {
				elementList[index] = new TemplateClass()
				insertElement.appendChild(elementList[index].root)
			}
		}
		return elementList
	}


	/**
	 * Creates a new empty pool (if needed) and clears `insertElement`
	 * 
	 * @param {CircularArray.CircularArray} element list
	 * @param {HTMLElement} insert element
	 * @return {CircularArray.CircularArray} new or same element list
	 */
	deletePool(elementList, insertElement) {
		if (this.isCreated(elementList) === true) {
			insertElement.innerHTML = ''
			elementList = new CircularArray.CircularArray()
		}
		return elementList
	}
}

PoolMixin.__templateMap = new WeakMap()


/**
 * Helper class to manage creation and deletion of the pool
 * 
 * @customElement
 * @polymer
 * @appliesMixin PoolMixin
 */
class Pool extends PoolMixin(Polymer.Element) {
	static get is() { return 'x-pool' }
}
window.customElements.define(Pool.is, Pool)
</script>
