<link rel="import" href="../../polymer/polymer-element.html" />

<link rel="import" href="../../polymer/lib/utils/gestures.html" />

<link rel="import" href="circular-index.html" />
<link rel="import" href="pool-render-mixin.html" />


<dom-module id="swipe-array">
	<template>
		<style>
			:host {
				display: flex;
				flex-direction: column;
				overflow: hidden;
			}

			#insert {
				flex-grow: 1;
				position: relative;

				will-change: transform;
				transition: transform 0.2s linear;

				@apply --swipe-array-insert;
			}

			#insert > * {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;

				z-index: -1;
				opacity: 0;
				will-change: transform, opacity, z-index;
				transition-property: transform, opacity;
				transition-timing-function: linear;

				@apply --swipe-array-elements;
			}

			#insert > .previous,
			#insert > .next {
				z-index: initial;
				opacity: 0.85;
				transition-duration: 0.2s, 0s;
				transition-delay: 0s, 0.2s;
			}

			#insert > .first {
				@apply --swipe-array-first-element;
			}

			#insert > .last {
				@apply --swipe-array-last-element;
			}

			#insert > .previous {
				transform: translateX(-100%);

				@apply --swipe-array-previous-element;
			}

			#insert > .next {
				transform: translateX(100%);

				@apply --swipe-array-next-element;
			}

			#insert > .selected {
				z-index: 1;
				opacity: 1;
				transition-duration: 0.2s, 0s;
				transition-delay: 0s, 0s;

				@apply --swipe-array-selected-element;
			}

			:host([swiping]) {
				user-select: none;
			}
		</style>

		<slot id="slot"></slot>

		<div id="insert"></div>
	</template>

	<script src="swipe-array.js"></script>
</dom-module>
